@import "https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css";
.mint-container {
    display: flex;
    flex-direction: column;
    align-items: center;
   .title-wrapper {
        display: flex ;
        flex-direction: column;
        align-items: center;
        h4 {
            text-transform: uppercase;
            font-size: 1.5vw;
            display: block;
        }
        h3 {
            text-transform: uppercase;
            font-size: 2.6vw;
            color: white;
            line-height: 0.7;
            margin-top: 0;
            margin-bottom: 1vw;
            display: block;
            text-shadow: -1px 6px 16px white;
        }
        p {
            color: white;
            font-size: 0.7vw;
            text-transform: uppercase;
            display: block;
        }

    }
    .mint-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.1rem;
        margin-top: 20px;
        .button {
            margin: 10px auto;
            height: 36px;
            width: 100px;
            font-size: 16px;
            display: flex;
            padding: 0;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
       
       
        .btn-mint {
            width:  100px;
            height:  36px;
        }
        input, input:focus {
            border: none !important;
        }
        i {
            background: white !important;
        }
    }
    .button-group {
        input {
            height: 36px;
            margin-right: 10px;
        }
        .btn-layout {
            display: flex;
        }
    }

}